<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/todo-list.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">

    <title>To Do</title>
</head>

<body>
    <main>
        <div class="left-pane">
            <div class="title">
                To-Do App
            </div>
            <div class="add-btn">
                <a id="add-todo" href="/">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
            <div class="nav-tray">
                <ul class="nav">
                    <li>
                        <a class="<%= path==='/view/all' ? 'active':''%>" href="/view/all">All</a>
                    </li>
                    <li>
                        <a class="<%= path==='/view/pending' ? 'active':''%>" href="/view/pending">Pending</a>
                    </li>
                    <li>
                        <a class="<%= path==='/view/completed' ? 'active':''%>" href="/view/completed">Completed</a>
                    </li>
                    <li>
                        <a class="<%= path==='/view/general' ? 'active':''%>" href="/view/general">General</a>
                    </li>
                    <li>
                        <a class="<%= path==='/view/personal' ? 'active':''%>" href="/view/personal">Personal</a>
                    </li>
                    <li>
                        <a class="<%= path==='/view/work' ? 'active':''%>" href="/view/work">Work</a>
                    </li>

                </ul>
            </div>
        </div>