<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/todo-list.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">

    <title>To Do</title>
</head>

<body>
    <main>
        <div class="left-pane">
            <div class="title">
                To-Do App
            </div>
            <div class="add-btn">
                <a id="add-todo" href="/">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
            <div class="nav-tray">
                <ul class="nav">
                    <li>
                        <a class="<%= path==='/all' ? 'active':''%>" href="/view/all">All
                            <% if(path==='/all' && todos.length>0) { %>
                            <div class="todo-count">
                                <%= todos.length %>
                            </div>
                            <% } %>
                        </a>

                    </li>
                    <li>
                        <a class="<%= path==='/pending' ? 'active':''%>" href="/view/pending">Pending
                            <% if(path==='/pending' && todos.length>0) { %>
                            <div class="todo-count">
                                <%= todos.length %>
                            </div>
                            <% } %>
                        </a>

                    </li>
                    <li>
                        <a class="<%= path==='/completed' ? 'active':''%>" href="/view/completed">Completed
                            <% if(path==='/completed' && todos.length>0) { %>
                            <div class="todo-count">
                                <%= todos.length %>
                            </div>
                            <% } %>
                        </a>

                    </li>
                    <li>
                        <a class="<%= path==='/general' ? 'active':''%>" href="/view/general">General
                            <% if(path==='/general' && todos.length>0) { %>
                            <div class="todo-count">
                                <%= todos.length %>
                            </div>
                            <% } %>
                        </a>

                    </li>
                    <li>
                        <a class="<%= path==='/personal' ? 'active':''%>" href="/view/personal">Personal
                            <% if(path==='/personal' && todos.length>0) { %>
                            <div class="todo-count">
                                <%= todos.length %>
                            </div>
                            <% } %>
                        </a>

                    </li>
                    <li>
                        <a class="<%= path==='/work' ? 'active':''%>" href="/view/work">Work
                            <% if(path==='/work' && todos.length>0) { %>
                            <div class="todo-count">
                                <%= todos.length %>
                            </div>
                            <% } %>
                        </a>

                    </li>

                </ul>
            </div>
        </div>