<%- include('_header') %>

<!-- Display ToDo List -->
<div class="right-pane">
    <% if (todos.length>0) { %>
        <ul class="todos">
            <% for(todo of todos){ %>
                <li class="todo">
                    <!-- To Do Anchor -->
                    <a href="/todo/toggle-status/<%= todo._id %>" class="todo-anchor">
                        <!-- Top Pane -->
                        <div class="td-top">
                            <div class="td-icon">
                                <!-- Display Checked Square if todo completed, empty square otherwise -->
                                <i class="<%= todo.pendingStatus ? 'far fa-square' : 'far fa-check-square' %>"></i>
                            </div>
                            <div class="td-desc <%= todo.pendingStatus ? '' : 'todo-done' %>">
                                <%= todo.desc %>
                            </div>
                        </div>
                        <!-- Bottom Pane -->
                        <div class="td-bottom">
                            <div class="td-date">
                                <!-- Display To Do Date only if non-empty -->
                                <% if (todo.date) { %>
                                    <%= todo.date %>
                                <% } %>
                            </div>
                            <div class="td-category">
                                <%= todo.category %>
                            </div>
                        </div>
                    </a>
                    <!-- Delete this Todo -->
                    <a href="/todo/delete/<%= todo._id %>" class="todo-dlt"> <i class="fas fa-trash-alt "></i></a>
                </li>
            <% } %>
            <!-- Delete All Todos of this Path -->
            <a href="/delete<%= path %>" title="Delete <%= path.slice(1) %>">
                <i class="delete-all fas fa-trash"></i>
            </a>
        </ul>
    <% } else { %>
        <!-- Empty To Do List -->
        <div class="empty-icon">
            <i class="far fa-clipboard"></i>
            <span class="empty-icon-text">
                Nothing To Show Here
            </span>
        </div>
    <% } %>
</div>

<%- include('_footer') %>